/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

.container {
  display: grid;
  height: 100%;
}

main p {
   margin-left: 15px;
}

.logo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.banner-image {
  width: 100%;
  height:auto;
  object-fit: contain;
}

@media only screen and (min-width: 700px)
{
  .container {
    grid-template-columns: 20% 60% 20%;
  }
}

@media only screen and(max-width: 700px)
{
  .container {
     grid-template-columns: 10% 80% 10%;
  }
}

.column-left {
    grid-column: 1;
 }

 .column-mid {
    grid-column: 2;
 }

 .column-right {
    grid-column: 3;
 }

.nav-buffer {
  min-height: 150px
}

nav {
  height: 50px;
  width: 100%;
  background-color: #0084FF;
}

.nav-container .nav-element {
  height: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-element a {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  vertical-align: top;
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nav-element:hover {
  background-color: #0064C2;
}

header img {
  width: auto;
  height: auto;
}

.download {
  color: black;
  margin-top: 15px;
  width: 100px;
  padding: 10px;
  background-color: #0084FF;
  border-radius: 25px;
  text-align: center;
  float: left;
}

.download:hover {
  background-color: #0064C2;
}

#db-text {
  display: inline-block
}

#post-title, #post-body {
  width: 100%;
}

footer {
  background-color: #0084FF;
  color: black;
}

footer img {
   padding: 10px;
}